@import "variables"

body
  font-size: 18px
  font-family: "PT Sans Regular"
  color: #525252

body p
  text-align: left

.container
  width: 930px
  margin: 0px auto
  //text-align: center

//first grey block
.grey-block
  background-color: rgb(246, 246, 246)
  padding-top: 40px
  padding-bottom: 60px
  //text-align: center

#menu-bar
  margin-bottom: 15px
  height: 45px

#aws-logo
  float: left

#podio-logo
  float: right

.introduction
  //display: inline-block
  text-align: center

#rocket-image
  display: inline-block
  margin-right: 45px

#main-message
  display: inline-block
  width: 408px

#main-message-title
  font-size: 30px

//there is a 20 px margin bottom, but the margin included by the p is 30px, what should I do?
//is the same 20 px margin for after the second p

#input-box
  font-size: 16px
  color: #AAAAAA
  height: 30px
  border-color: #AAAAAA

#sign-in-button
  font-size: 16px
  font-weight: bolder
  height: 30px
  background-color: #5AC85B
  color: #FFFFFF


//second white block

.white-block
  background-color: #FFFFFF
  height: 245px
  padding-top: 60px
  padding-bottom: 60px
//  i should repace the padding top/bottom

#testimony-block
  padding: 0px 30px
  //text-align: center

#testimony-image
  //display: inline-block
  float: left
  margin-left: 30px
  margin-right: 55px

#testimony-text-block
  //display: inline-block
  font-size: 20px
//instead of this, i could have the text-align center in the container

#testimony-guy
  font-size: 14px
  color: #999999


//grey block 2

.grey-block-2
  background-color: rgb(246, 246, 246)
  padding-top: 100px
  padding-bottom: 100px

.block-presentation
  margin-bottom: 100px
//could find a better way of adding margin between blocks?

.grey-block-2 img
  display: inline-block
  width: 380px

.presentation-text-block
  display: inline-block
  width: 450px

//the smartest way of putting the margin 73px between elements

