@import "variables"

body
  font-size: 18px
  font-family: "PT Sans Regular"
  line-height: 1.5
  color: #525252

body p
  text-align: left
  font-weight: 100

.container
  width: 930px
  margin: 0px auto
  //text-align: center


//first block: intro-sign-up
#intro-signup-block
  background-color: rgb(246, 246, 246)
  padding-top: 40px
  padding-bottom: 60px
  //text-align: center

#menu-bar
  margin-bottom: 15px
  height: 45px

#aws-logo
  float: left

#podio-logo
  float: right

.center-in-container
  text-align: center

//.image-message-block
//  text-align: center

#rocket-image
  display: inline-block
  margin-right: 45px

#main-message
  display: inline-block
  width: 408px
  vertical-align: top

#main-message-title
  font-size: 30px

.bold-text
  font-family: "PT Sans Bold"

//there is a 20 px margin bottom, but the margin included by the p is 30px, what should I do?
//is the same 20 px margin for after the second p

.input-box
  font-size: 16px
  color: #AAAAAA
  height: 40px
  width: 305px
  border: 1.5px solid #e7e7e7
  //color border diff from what they say, but more similar to original
  border-bottom-left-radius: 7px
  border-top-left-radius: 7px

//.stylish-sign-in
//  width: 408px

.sign-in-button
  font-size: 16px
  font-weight: bolder
  width: 103px
  height: 45px
  margin-left: -4px
  background-color: #5AC85B
  color: #FFFFFF
  border: 1.5px solid #e7e7e7
  border-bottom-right-radius: 7px
  border-top-right-radius: 7px


//second block: testimony-block

.white-block-60
  background-color: #FFFFFF
  padding: 60px 0px

#testimony-image-text
  padding: 0px 30px

#testimony-image
  float: left
  margin-left: 30px
  margin-right: 55px

#testimony-text
  font-size: 20px

#testimony-guy
  font-size: 14px
  color: #999999


//third block: presentation-text-image-2-cols

.grey-block-100
  background-color: rgb(246, 246, 246)
  padding: 100px 0px

.space-beneath-100
  margin-bottom: 100px
//could find a better way of adding margin between blocks?

#presentation-text-image-2-columns img
  display: inline-block
  width: 380px
// good enough specificity?

#presentation-text-image-2-columns
  text-align: center

.presentation-text-block
  display: inline-block
  width: 450px
  vertical-align: top
  text-align: left

.presentation-text-block h1
  font-family: "PT Sans Bold"
  font-size: 24px
  padding-bottom: 10px
//padding 10 or margin 10? - behaves different

//font size 24px or h1 different, why is that?
//the smartest way of putting the margin 73px between elements

.space-after-73
  padding-right: 73px


//4th block: companies-logos-block

#companies-logos-block
  min-height: 245px

//#podio-users
//  text-align: center

#podio-users p
  color: #999999
  margin-bottom: 40px
  text-align: center
//why i need to set align center on the p, not on the div?
//

//#podio-users-logos
//  text-align: center

#podio-users-logos img
  display: inline-block
  padding: 40px
//padding not mentioned


//5th block: quote-signup-block

#quote-signup-block
  text-align: center

#quote-signup-block h2
  margin-bottom: 40px
  font-family: "PT Sans Italic"
//  i decided the h2 - not mentioned

#quoter_name
  font-family: "PT Sans Regular"
//doen not work, the span


//6th block: three-columns-question-answers

#three-columns-question-answers
  font-size: 16px
  //text-align: center
//  is the center-align good here? better in another div?

#three-columns-question-answers h2
  margin-bottom: 40px

.question-block
  display: inline-block
  width: 256px
  vertical-align: top

.question-block p:first-of-type
  font-family: "PT Sans Bold"
  // can i declare somewhere bold?
  padding-bottom: 20px

.question-block a:link
  font-family: "PT Sans Bold"
  color: #525252
  text-decoration: none

.question-block a:visited
  color: #525252

.space-after-70px
  margin-right: 70px


//footer

#footer
  height: 60px
  background-color: rgb(246, 246, 246)
  padding-top: 20px

#footer a
  font-family: Arial
  font-size: 12px
  color: #777777
  margin-right: 35px

#footer img
  float: right


//do not forget to make buutons a radius larger!
//make the sign-in box larger only for XSmall screens
