<!DOCTYPE html>
<html>

<head lang="en">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Task Management Application for Start-ups</title>
<title></title>

<meta name="description" content="Podio is an online work management application,
 that brings all the tools you need together. Optimize your work flow, task management
 and sharing, using personalized features for your business. We offer a 6 months free trial
 for start-ups, part of the AWS Activate program.">
<meta name="keyword" content="start-up accelerator, start-up free trial, work management, task management, improve team-work,
 organize work, better communication, stay organized, project management application">


<link href="../static/css/index.css" rel="stylesheet"/>
<link href="../static/css/special-fonts.css" rel="stylesheet"/>
<link href="../static/css/media-queries.css" rel="stylesheet"/>


</head>


<body>


<!--first block: intro-sign-up-->
    <div id="intro-signup-block">
        <div class="container">

            <div id="up-logos">
                <img id="aws-logo" src="../static/assets/aws_logo.png" />
                <img id="podio-logo" src="../static/assets/podio-logo.png" />
            </div>

            <div id="image-message-block" class="center-in-container">
                <img id="rocket-image" src="../static/assets/image_1.png"/>

                <div id="main-message">
                    <h1 id="main-message-title">{{message}}</h1>
                    <p>Thousands of startup companies use Podio to communicate, organize and get work done.
                        As a part of AWS Activate, you can too – <span class="bold-text">for free!</span></p>

                    <form accept-charset="UTF-8" action="/signup?force_locale=en_US"
                          data-conversion-group="signup"
                          data-tracking="SignUp,Sendverification,new_content_site"
                          method="post">

                        <div style="display:none">
                            <input name="utf8" type="hidden" value="✓">
                            <input name="authenticity_token" type="hidden" value="c5c4a169+V7euMD/QN/LityuW71tnPutLibQ2oc2+ZA="></div>
                            <input id="force_locale" name="force_locale" type="hidden" value="en_US">
                            <input name="message" type="hidden" value="{{message}}">
                            <input name="used-form" type="hidden" value="top-form">
                            <input class="input-box" name="user[mail]" placeholder="Enter your work email" required="required" type="email"><input class="sign-in-button" data-value="emailfield" name="commit" type="submit" value="Sign up">
                    </form>
                </div>
            </div>
        </div>
    </div>


<!--second block: testimony-block-->
    <div id="testimony-block" class="white-block-60">
        <div class="container">
            <div id="testimony-image-text">
                <div>
                    <img id="testimony-image" src="../static/assets/image_2.png"/>
                </div>
                <p id="testimony-text">“One of the things Podio has helped us do is actually kill
                    those spreadsheets that are lying around in all corners and folders of everyone’s laptops...
                    Kill those spreadsheets and collect everything in a viral, social environment.”<br/>
                    <span id="testimony-author"> Søren Halskov Nissen, CEO, Drivr </span></p>
            </div>

        </div>
    </div>


<!--third block: presentation-text-image-2-cols-->
    <div id="two-columns-with-text-image" class="grey-block-100">
        <div class="container">

            <div id="support-growth" class="space-beneath-100">
                <div class="presentation-text-block space-after-73">
                    <h2>Support your growth</h2>
                    <p>As your startup grows, you can avoid needing lots of
                        different tools, simply by extending Podio to different areas of your business
                        – from product development to sales. 3D printing startup Type A Machines have
                        customized Podio to run their entire operation.</p>
                </div>

                <iframe width="380" height="255" src="https://www.youtube.com/embed/FBjsA-loPQo" frameborder="0" allowfullscreen></iframe>
            </div>


            <div id="stay-organized" class="space-beneath-100 flex-reorder-container">
                <img class="space-after-73" src="../static/assets/image_4.png"/>

                <div class="presentation-text-block">
                    <h2>Stay organized</h2>
                    <p>With so much going on, it’s easy for important things to
                        fall between the cracks. Podio handles all the organization of project content,
                        deadlines and responsibilities for you – so you and your team can focus on simply
                        doing what needs to be done.</p>
                </div>

            </div>


            <div id="tighten-communications">
                <div class="presentation-text-block space-after-73">
                    <h2>Tighten your communications</h2>
                    <p>No matter where you work, your team will always have one place
                        to communicate and share ideas with Podio. Easy-to-use activity streams and chat
                        messaging will save you from time-consuming email threads and keep everyone involved.</p>
                </div>

                <img src="../static/assets/image_5.png">
            </div>

        </div>
    </div>


<!--4th block: companies-logos-block-->
    <div id="companies-logos-block" class="white-block-60">
        <div id="podio-users" class="container center-in-container">
            <p>Innovative teams doing great things in Podio</p>
            <div id="podio-users-logos" class="center-in-container">
                <img src="../static/assets/socialbakers_logo.png"/><img src="../static/assets/umbraco_logo.png"/>
                <img src="../static/assets/drivr_logo.png"/><img src="../static/assets/rackspace_logo.png"/>
            </div>
        </div>
    </div>


<!--5th block: quote-signup-block-->
    <div id="quote-signup-block" class="grey-block-100">
        <div class="container">
            <p>“Podio has a mind-blowing system to help you work with other people.”<span id="quoter_name">– Robert Scoble</span></p>
            <form accept-charset="UTF-8" action="/signup?force_locale=en_US"
                  data-conversion-group="signup"
                  data-tracking="SignUp,Sendverification,new_content_site"
                  method="post">

                <div style="display:none">
                    <input name="utf8" type="hidden" value="✓">
                    <input name="authenticity_token" type="hidden" value="c5c4a169+V7euMD/QN/LityuW71tnPutLibQ2oc2+ZA="></div>
                    <input name="force_locale" type="hidden" value="en_US">
                    <input name="message" type="hidden" value="{{message}}">
                    <input name="used-form" type="hidden" value="bottom-form">
                    <input class="input-box" name="user[mail]" placeholder="Enter your work email" required="required" type="email"><input class="sign-in-button" data-value="emailfield" name="commit" type="submit" value="Sign up">
            </form>
        </div>
    </div>


<!--6th block: three-columns-question-answers-->
    <div id="three-columns-question-answers" class="white-block-60">
        <div class="container center-in-container">
            <h2>Answers to some questions you might have</h2>

            <div class="question-block">
                <p>Can I invite all our employees for free?</p>
                <p>Yes, as a part of your membership in AWS Activate we will
                    give you 6 (12) months use of Podio for free.</p>
            </div>

            <div class="question-block">
                <p>What will happen after 6 months?</p>
                <p>The billing for Podio will start automatically. If you don’t
                    want to use Podio after a certain period of time, just <a href="">downgrade
                    your account</a>.</p>
            </div>

            <div class="question-block no-right-margin">
                <p>I’m already signed up for Podio, how do I get the 6 (12) months free?</p>
                <p>We’d love to hear from you and give you the free account.
                    <a href="">Let us know</a> and include that you’re a member of AWS Activate.</p>
            </div>
        </div>
    </div>


<!--footer-->
    <div id="footer">
        <div class="container">
            <a href="">About Podio</a>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy Policy</a>
            <img src="../static/assets/citrix-logo.png"/>
        </div>

    </div>

</body>


</html>




